
                                    
                                    @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&family=Roboto:ital,wght@0,400;0,500;0,700;0,900;1,400&display=swap');
                                    @import url('https://fonts.googleapis.com/css2?family=Moon+Dance&family=Poppins:wght@400;500;600&family=Roboto+Mono:ital,wght@0,400;0,500;0,600;0,700;1,400&family=Roboto:ital,wght@0,400;0,500;0,700;0,900;1,400&display=swap');
                                    * {
                                      margin: 0;
                                      padding: 0;
                                      box-sizing: border-box;
                                      list-style: none;
                                      text-decoration: none;
                                      scroll-behavior: smooth;
                                      scroll-padding-top: 2rem;
                                      
                                      
                                    }
                                   
                                    :root {
                                      --main-color: #003566;
                                      --bg-color: #fff;
                                      --text-color: #0f0c27;
                                      --hover: hsl(260, 100%, 51%);
                                      --big-font: 3rem;
                                      --big-font-2: 2.3rem;
                                      --medium-font: 1.7rem;
                                      --medium-font-2: 1.4rem;
                                      --p-font: 0.941rem;
                                      --border-bold:. 5rem solid var(--black);
                                      --card-height: 35vh;
                                      --card-width: calc(var(--card-height) / 1.5);
                                    }
                                   
                                    section {
                                      padding: 50px 10%;
                                    }
                                   
                                    body.active {
                                      --text-color: #fff;
                                      --bg-color: #132035;
                                    }
                                   
                                    body {
                                      background: var(--bg-color);
                                      color: var(--text-color);
                                    }
                                   
                                    *::selection {
                                      color: var(--bg-color);
                                      background: var(--main-color);
                                    }
                                   
                                    .data_ana {

                                      text-align: center;
                                      font-size: var(--p-font);
                                      font-weight: 400;
                                     
                                      line-height: 1.6;

                                      
                                    }
                                    

                                    .heading {
                                      text-align: center;
                                    }
                                   
                                    .heading h2 {
                                      font-size: 30px;
                                    }
                                   
                                    .heading span {
                                      font-size: var(--p-font);
                                      color: rgb(2, 166, 70);
                                    }
                                   
                                    header {
                                      position: fixed;
                                      width: 100%;
                                      top: 0;
                                      right: 0;
                                      z-index: 1000;
                                      display: flex;
                                      align-items: center;
                                      justify-content: space-between;
                                      background: var(--bg-color);
                                      padding: 13px 10%;
                                      transition: 0.2s;
                                      box-shadow: -3px -3px 7px #ffffff73,
                                        2px 2px 5px rgba(94, 104, 121, 0.288);
                                    }
                                   
                                    header.shadow {
                                      box-shadow: 0 0 4px rgb(14 55 54 / 15%);
                                    }
                                   
                                    .logo {
                                      font-size: 1.61rem;
                                      font-weight: 600;
                                      color: var(--text-color);
                                    }
                                   
                                    .logo span {
                                      font-size: 1.61rem;
                                      font-weight: 600;
                                      color: crimson;
                                    }

/*####################################################################################################"*/                                  
                                    divider {								/* minor cosmetics */
                                      display: table; 
                                      /*font-size: 50px; */
                                      text-align: center; 
                                      width: 75%; 						/* divider width */
                                      margin: 40px auto;					/* spacing above/below */
                                  }
                                  .divider span {
                                     display: table-cell; position: relative;
                                    font-size: var(--medium-font);
                                    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
                                    }
                                  .divider span:first-child, .divider span:last-child {
                                      width: 50%;
                                      top: 13px;							/* adjust vertical align */
                                      -moz-background-size: 100% 2px; 	/* line width */
                                      background-size: 100% 2px; 			/* line width */
                                      background-position: 0 0, 0 100%;
                                      background-repeat: no-repeat;
                                  }
                                  .divider span:first-child {				/* color changes in here */
                                      background-image: -webkit-gradient(linear, 0 0, 0 100%, from(transparent), to(#000));
                                      background-image: -webkit-linear-gradient(180deg, transparent, #000);
                                      background-image: -moz-linear-gradient(180deg, transparent, #000);
                                      background-image: -o-linear-gradient(180deg, transparent, #000);
                                      background-image: linear-gradient(90deg, transparent, #000);
                                  }
                                  .divider span:nth-child(2) {
                                      color: #000; padding: 0px 5px; width: auto; white-space: nowrap;
                                  }
                                  .divider span:last-child {				/* color changes in here */
                                      background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#000), to(transparent));
                                      background-image: -webkit-linear-gradient(180deg, #000, transparent);
                                      background-image: -moz-linear-gradient(180deg, #000, transparent);
                                      background-image: -o-linear-gradient(180deg, #000, transparent);
                                      background-image: linear-gradient(90deg, #000, transparent);
                                  }
/*####################################################################################################"*/
                                    .hr__fifty{

                                      width: 50%; margin: 0 25% 0 25%;
                                      margin-top: 0.2rem;
                                    }

                                    .home{

                                      background-image: url("ni1.png");
                                      background-repeat: no-repeat;
                                      background-position: top;
                                      background-attachment: scroll;
                                     
                                    }
               

                                    .hama__img{

                                      width: 100px;
                                      height: min-content;
                                      justify-self: center;
                                      border: 1.2rem solid #033a80;
                                      border-radius: 1px;
                                      padding: 4px;
                                      
                                      
                                      /*padding:1rem;*/
                                      
                                     
                                    
                                    }
                                    .hama__img_1{

                                      width: 450px;
                                      height: min-content;
                                     
                                      justify-self: center;
                                      
                                      padding:1rem;
                                      
                                      border-width: 1rem;
                                      margin-top: 1.5rem;
                                    
                                    }
                                    .hama__img_11{
                                      width: 450px;
                                      height: min-content;
                                     
                                      justify-self: center;
                                      
                                      padding-right:0.5rem;
                                    
                                      

                                    }
                                   
                                    .navbar {
                                      display: flex;
                                    }
                                   
                                    .navbar a {
                                      font-size: 1rem;
                                      padding: 10px 20px;
                                      color: var(--text-color);
                                      font-weight: 500;
                                    }
                                   
                                    .navbar a:hover {
                                      color: var(--hover);
                                    }
                                   
                                    #menu-icon {
                                      font-size: 24px;
                                      cursor: pointer;
                                      z-index: 10001;
                                      display: none;
                                    }
                                   
                                    #darkmode {
                                      font-size: 22px;
                                      cursor: pointer;
                                    }
                                   
                                    .home {
                                      position: relative;
                                      width: 100%;
                                      min-height: 100vh;
                                      display: grid;
                                      grid-template-columns: 0.1fr 1fr 1fr;
                                      align-items: center;
                                      gap: 1rem;
                                      margin-top: 1rem;
                                    }

                                    .home2 {
                                      margin-top: 2rem;


                                    }

                                    

                                    .skills__container{
                                      row-gap: 2rem;
                                      padding-top: 1rem;
                                      
                                    }
                                    
                                    .skills__content{
                                                                                                   
                                      padding: 2rem;
                                                                        
                                      margin-bottom: 2rem;
                                      border-bottom: 5px solid hsl(219, 80%, 20%);
                                      border-top: 5px solid hsl(203, 95%, 31%);
                                      border-radius: 0.5rem;
                                      border-top-style: groove;
                                      box-shadow: 0 6px 15px rgba(39, 93, 175, 0.15);


                                    }
                                    
                                    .skills__title{
                                      font-size:1.5rem;
                                      font-weight: bold;
                                      color: black;
                                      text-align: center;
                                      margin-bottom: 1.5rem;
                                    
                                    }
                                    
                                    .skills__box{
                                    display: flex;
                                    justify-content: center;
                                    column-gap: 2.5rem;
                                    
                                    }
                                    .skills__group{
                                    
                                      display: grid;
                                      align-content: flex-start;
                                      row-gap: 1rem;
                                    
                                    }
                                    
                                    .skills__data{
                                    
                                      display: flex;
                                      column-gap: .5rem;
                                    
                                    
                                    }
                                    
                                    .skills .bxs-badge-check{
                                    
                                    font-size: 1rem;
                                    color: var(--main-color);
                                    }
                                    
                                    
                                    .skills__name{
                                    
                                    font-size: 1.05rem;
                                    
                                    font-weight: normal;
                                    line-height: 18px;
                                    
                                    }
                                    
                                    .skills__level{
                                    
                                      font-size: 0.85rem;
                                      
                                    }

                                    .about__data{
                                      text-align: center;
                                      }
                                      
                                      .about__info{
                                      
                                        display: grid;
                                        grid-template-columns: repeat(3, 1fr);
                                        gap: .5rem;
                                        margin-bottom: 2rem;
                                        margin-top: 2rem;
                                      }
                                      
                                      .about__box{
                                      
                                        background-color: var(--main-color);
                                        border-radius: .75rem;
                                        padding: .75rem .5rem;
                                      }
                                      
                                      .about__icon{
                                      
                                        font-size: 1.5rem;
                                        color: white;
                                        margin-bottom: .5rem;
                                      }
                                      
                                      .about__title{
                                      
                                        font-size:1rem;
                                        color: white;
                                        margin-bottom: .1rem;
                                        
                                      
                                      }
                                      
                                      .about__subtitle{
                                      
                                        font-size: .85rem;
                                        color: white;
                                      
                                      }
                                     
                                    
                                    .strikethrough {
                                      position: relative;

                                    }


                                    .strikethrough:before {
                                      position: absolute;
                                      content: "";
                                      left: 0;
                                      top: 50%;
                                      right: 0;
                                      border-top: 2px solid #dd0031!important;
                                      border-color: inherit;
                                    
                                      -webkit-transform:rotate(-5deg);
                                      -moz-transform:rotate(-5deg);
                                      -ms-transform:rotate(-5deg);
                                      -o-transform:rotate(-5deg);
                                      transform:rotate(-5deg);
                                    } 

                                   
                                    .home-img {
                                      order: 3;
                                    }
                                   
                                    .home-img img {
                                      width: 100%;
                                    }
                                    .home-text{
                                      text-align: center;
      
                                      align-items: center;
                                      align-self: flex-end;
                                      
                                      
                                    }

                                    

                                    .home-text_1{

                                      font-family: "Moon Dance", sans-serif;

                                    }
                                    .home-text span {
                                      font-size: var(--big-font-2);
                                      font-weight: 500;
                                    }
                                   
                                    .home-text h1 {
                                      font-size: var(--big-font);
                                    }
                                   
                                    .home-text h2 {
                                      font-size: var(--medium-font);
                                      font-weight: 400;
                                    }
                                   
                                    .home-text p {
                                      font-size: var(--p-font);
                                      font-weight: 400;
                                      margin: 0.7rem 0 1rem;
                                    }
                                   
                                    .social {
                                      display: flex;
                                      flex-direction: column;
                                      align-items: center;

                                    }
                                   
                                    .social a {
                                      margin-bottom: 1rem;
                                      font-size: 22px;
                                      color: var(--text-color);
                                    }
                                   
                                    .social a:hover {
                                      color: var(--hover);
                                    }
                                    .fr{
                                      display: flex;
                                      justify-content: center;
                                      align-items: center;
                                    }

                                    .btn::after,
                                    .btn::before {
                                      content: '';
                                      position: absolute;
                                      bottom: 0;
                                      right: 0;
                                      z-index: -99999;
                                      transition: all .4s;
                                    }
                                    
                                    .btn::before {
                                      transform: translate(0%, 0%);
                                      width: 100%;
                                      height: 100%;
                                      background: #28282d;
                                      border-radius: 10px;
                                    }
                                    
                                    .btn::after {
                                      transform: translate(10px, 10px);
                                      width: 35px;
                                      height: 35px;
                                      background: var(--main-color);
                                      backdrop-filter: blur(5px);
                                      border-radius: 50px;
                                    }
                                    
                                    .btn:hover::before {
                                      transform: translate(5%, 20%);
                                      width: 110%;
                                      height: 110%;
                                    }
                                    
                                    .btn:hover::after {
                                      border-radius: 10px;
                                      transform: translate(0, 0);
                                      width: 100%;
                                      height: 100%;
                                    }
                                    
                                    .btn:active::after {
                                      transition: 0s;
                                      transform: translate(0, 5%);
                                    }
                                   
                                    .btn {
                                      display: inline-block;
                                      
                                      color: #fff;
                                      padding: 0.7rem 1.3rem;
                                      border-radius: 0.5rem;
                                      margin-top: 1.6rem;
                                    }



                                    .about-container2{
                                      display: grid;
                                      /*grid-template-columns:1fr 1fr;*/
                                      gap: 1rem;
                                      margin-top: 2rem;

                                    }
                                   .about__i{
                                    text-align: center;
                                   }
                                   
                                   
                                    .about-container {
                                      display: grid;
                                      grid-template-columns:1fr 1fr;
                                      gap: 1rem;
                                      margin-top: 2rem;
                                      align-items: center;
                                    }
                                   
                                    .about-img img {
                                      width: 80%;
                                      border-radius: 0.5rem;
                                    }
                                   
                                    .about-text p {
                                      font-size: var(--p-font);
                                      font-weight: 400;
                                      text-align: justify;
                                      line-height: 1.6;
                                      
                                      
                                      
                                    }
                                    @property --rotate {
                                      syntax: "<angle>";
                                      initial-value: 132deg;
                                      inherits: false;
                                    }
                                    
                                    
                                    
                                    
                                    
                                    .card {
                                      background: #191c29;
                                      width: var(--card-width);
                                      height: var(--card-height);
                                      padding: 3px;
                                      position: relative;
                                      border-radius: 6px;
                                      justify-content: center;
                                      align-items: center;
                                      text-align: center;
                                      display: flex;
                                      font-size: 1.5em;
                                      color: rgb(88 199 250 / 0%);
                                      cursor: pointer;
                                      font-family: "Moon Dance", sans-serif;
                                      margin-bottom: 1rem;
                                    }
                                    
                                    .card:hover {
                                      color: rgb(88 199 250 / 100%);
                                      transition: color 1s;
                                    }
                                    .card:hover:before, .card:hover:after {
                                      animation: none;
                                      opacity: 0;
                                    }
                                    
                                    
                                    .card::before {
                                      content: "";
                                      width: 104%;
                                      height: 102%;
                                      border-radius: 8px;
                                      background-image: linear-gradient(
                                        var(--rotate)
                                        , #5ddcff, #3c67e3 43%, #4e00c2);
                                        position: absolute;
                                        z-index: -1;
                                        top: -1%;
                                        left: -2%;
                                        animation: spin 2.5s linear infinite;
                                    }
                                    
                                    .card::after {
                                      position: absolute;
                                      content: "";
                                      top: calc(var(--card-height) / 6);
                                      left: 0;
                                      right: 0;
                                      z-index: -1;
                                      height: 100%;
                                      width: 100%;
                                      margin: 0 auto;
                                      transform: scale(0.8);
                                      filter: blur(calc(var(--card-height) / 6));
                                      background-image: linear-gradient(
                                        var(--rotate)
                                        , #5ddcff, #3c67e3 43%, #4e00c2);
                                        opacity: 1;
                                      transition: opacity .5s;
                                      animation: spin 2.5s linear infinite;
                                    }
                                    
                                    @keyframes spin {
                                      0% {
                                        --rotate: 0deg;
                                      }
                                      100% {
                                        --rotate: 360deg;
                                      }
                                    }

                                    
                                    
                                    .information {
                                      margin: 1rem 0 1.4rem;
                                    }
                                   
                                    .information .info-box {
                                      display: flex;
                                      align-items: center;
                                      margin-bottom: 1.4rem;
                                    }
                                   
                                    .information .info-box .bx {
                                      font-size: 22px;
                                    }
                                   
                                    .information .info-box span {
                                      font-weight: 400;
                                      margin-left: 1rem;
                                    }
                                   
                                    .skills-container {
                                      display: grid;
                                      grid-template-columns: repeat(2, 1fr);
                                      align-items: center;
                                      gap: 2rem;
                                      margin-top: 4rem;
                                    }
                                   
                                    .skills-img img {
                                      width: 80%;
                                      padding-left: 4rem;
                                      object-position: center;
                                    }
                                   
                                    .bars-box {
                                      position: relative;
                                      display: flex;
                                      justify-content: space-between;
                                      align-items: center;
                                      padding: 1rem 0;
                                      margin-bottom: 1rem;
                                    }
                                   
                                    .bars-box h3,
                                    span {
                                      font-size: 1.1rem;
                                      font-weight: 500;
                                    }
                                   
                                    .light-bar {
                                      position: absolute;
                                      bottom: 0;
                                      left: 0;
                                      width: 100%;
                                      height: 0.5rem;
                                      background: hsla(260, 100%, 44%, 0.4);
                                      border-radius: 0.5rem;
                                    }
                                   
                                    .percent-bar {
                                      position: absolute;
                                      bottom: 0;
                                      left: 0;
                                      height: 0.5rem;
                                      background: var(--main-color);
                                      border-radius: 0.5rem;
                                    }
                                   
                                    .html-bar {
                                      width: 94%;
                                    }
                                   
                                    .css-bar {
                                      width: 84%;
                                    }
                                   
                                    .js-bar {
                                      width: 74%;
                                    }
                                   
                                    .react-bar {
                                      width: 80%;
                                    }



                                    
                                   
                                    .services-content {
                                      display: grid;
                                      grid-template-columns: repeat(auto-fit, minmax(200px, auto));
                                      justify-content: center;
                                      gap: 1rem;
                                      margin-top: 2rem;
                                    }
                                   
                                    .services-box {
                                      padding: 20px;
                                      width: 260px;
                                      display: flex;
                                      flex-direction: column;
                                      align-items: center;
                                      text-align: center;
                                      border-radius: 0.5rem;
                                      border-bottom: 2px solid var(--main-color);
                                      box-shadow: 0 2px 7px rgb(14 55 54 / 15%);
                                    }
                                   
                                    .services-box:hover {
                                      background-color: #02225a;
                                    }
                                   
                                    .services-box h3 {
                                      font-size: 1rem;
                                      font-weight: 600;
                                      margin: 0.7rem 0 0.4rem;
                                    }
                                   
                                    .services-box:hover h3 {
                                      color: #fff;
                                    }
                                   
                                    .services-box .bx {
                                      padding-top: 2rem;
                                      font-size: 54px;
                                      color: var(--main-color);
                                    }
                                   
                                    .services-box:hover .bx {
                                      color: #22cf91;
                                    }
                                   
                                    .services-box a {
                                      color: var(--main-color);
                                      font-size: var(--p-font);
                                      font-weight: 500;
                                    }
                                   
                                    .services-box:hover a {
                                      color: #8b8a8f;
                                    }
                                   
                                    .contact-form {
                                      display: grid;
                                      grid-template-columns: repeat(auto-fit, minmax(200px, auto));
                                      justify-content: center;
                                      gap: 1rem;
                                      margin-top: 2rem;
                                    }
                                   
                                    .contact-form form {
                                      display: flex;
                                      flex-direction: column;
                                      width: 650px;
                                    }
                                   
                                    form input,
                                    textarea {
                                      padding: 15px;
                                      border-radius: 0.5rem;
                                      width: 100%;
                                      border: none;
                                      outline: none;
                                      background: hsla(260, 100%, 44%, 0.1);
                                      margin-bottom: 1rem;
                                      color: var(--text-color);
                                    }
                                   
                                    form input::placeholder,
                                    textarea::placeholder {
                                      color: var(--text-color);
                                    }
                                   
                                    form textarea {
                                      resize: none;
                                      height: 200px;
                                    }

                                    
                                   
                                    .contact-button {
                                      width: 160px;
                                      cursor: pointer;
                                      background: #2768d9;
                                      color: #fff;
                                      justify-content: center;
                                      text-transform: uppercase;
                                      letter-spacing: 1px;
                                      margin-left: 35%;
                                    }


                                   
                                    .contact-button:hover {
                                      background: var(--hover);
                                    }
                                   
                                    .footer {
                                      display: grid;
                                      place-items: center;
                                      padding: 20px;
                                      color: #000;
                                    }
                                   
                                    .footer h2 {
                                      font-size: 1.5rem;
                                      margin-bottom: 1.6rem;
                                      color: var(--text-color)
                                    }
                                   
                                    .footer-social a i {
                                      color: #033a80;
                                      font-size: 25px;
                                      margin-left: 10px;
                                      text-align: center;
                                      line-height: 40px;
                                      background-color: #fff;
                                      border-radius: 50%;
                                      width: 40px;
                                      height: 40px;
                                    }
                                   
                                    .copyright {
                                      padding: 20px;
                                      background: var(--main-color);
                                      text-align: center;
                                      color: #fff;
                                    }
                                   
                                    .copyright a {
                                      color: #22cf91;
                                    }
                                   
                                    /* For Mobile */
                              

                                    @media (max-width: 1024px) {
                                      header {
                                        padding: 18px 4%;
                                      }
                                     
                                      section {
                                        padding: 50px 4%;
                                      }
                                    }
                                   
                                    @media (max-width: 881px) {
                                      :root {
                                        --big-font: 2.7rem;
                                        --big-font-2: 1.5rem;
                                        --medium-font: 1rem;

                                      }
                                    }
                                   
                                    @media (max-width: 768px) {
                                      :root {
                                        --big-font: 2.4rem;
                                        --medium-font: 1.2rem;
                                      }
                                   
                                      header {
                                        padding: 11px 4%;
                                      }
                                   
                                      #menu-icon {
                                        display: initial;
                                        color: var(--text-color);
                                      }
                                   
                                      header .navbar {
                                        position: absolute;
                                        top: -500px;
                                        left: 0;
                                        right: 0;
                                        display: flex;
                                        flex-direction: column;
                                        background: var(--bg-color);
                                        box-shadow: 0 4px 4px rgb(0 0 0 / 10%);
                                        transition: 0.2s ease;
                                        text-align: center;
                                      }
                                   
                                      .navbar.active {
                                        top: 100%;
                                      }
                                   
                                      .navbar a {
                                        padding: 1.5rem;
                                        display: block;
                                        background: var(--bg-color);
                                      }
                                   
                                      #darkmode {
                                        position: absolute;
                                        top: 1.4rem;
                                        right: 2rem;
                                      }
                                   
                                      .scroll-down {
                                        display: none;
                                      }
                                   
                                      .home {
                                        display: block;
                                        .social {display:none;}
                                        
                                      }
                                   
                                      .home-text {
                                        grid-column: 1/3;
                                        padding-left: 1.4rem;
                                        padding-top: 1.4rem;
                                      }
                                   
                                      .home-img {
                                        order: initial;

                                      }
                                   
                                      .about-container {
                                        display: block;
                                      }
                                   
                                      .about-img {
                                        display: flex;
                                        justify-content: center;
                                      }
                                   
                                      .skills-container {
                                        grid-template-columns: 1fr;
                                      }
                                   
                                      .skills-img img {
                                        padding-left: 0;
                                      }
                                   
                                      .skills-img {
                                        padding-top: 2rem;
                                        display: flex;
                                        justify-content: center;
                                      }
                                   
                                      .contact-form form {
                                        width: 300px;
                                      }
                                   
                                      .contact-button {
                                        margin-left: 25%;
                                      }

                                      
                                    }
                                    @media (max-width: 500px) {
                                      .hama__img_1{
                                        width: 300px;

                                      }
                                    }
                                   
                                    @media (max-width: 340px) {
                                      :root {
                                        --big-font: 1.7rem;
                                        --medium-font: 1rem;
                                        --card-height: 20vh;
                                        
                                      }

                                      .hama__img{

                                        
                                      
                                        border: 0.5rem solid #033a80;
                                       
                                        padding: 2px;
                                    
                                      
                                      }
                                      .hama__img_1{
                                        width: 270px;

                                      }
                                   
                                      .home-text span {
                                        font-size: 1rem;
                                      }
                                   
                                      .home-text h2 {
                                        font-size: 0.9rem;
                                        font-weight: 500;
                                      }
                                   
                                      .information .info-box span {
                                        font-size: 1rem;
                                      }
                                   
                                      .contact-form form {
                                        width: 300px;
                                      }
                                   
                                      .contact-button {
                                        margin-left: 25%;
                                
                                      }

                                      

                                    }
                                